.scanrobot {

    .layout_container {
        margin: 50px 50px 50px 50px;

        .item_fist_line {
            display: flex;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
            border-radius: 30px 30px 30px 30px;
            padding: 30px 30px 30px 30px;

            .image_robot {
                width: 200px;
                height: 200px;
            }

            .right_layout {
                margin-left: 20px;
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            .space {
                flex: 1;
            }

            .text_bold {
                font-size: 30px;
                font-weight: bold;
            }

            .text_style {
                font-size: 25px;
            }

            .tag_style {
                border: 1px solid rgb(139, 139, 139);
                border-radius: 50vh;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                overflow: hidden;
                max-width: 120px;
                min-width: 90px;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right: 20px;
                margin-top: 10px;
            }
        }


        .input_margin {
            margin-top: 50px;
        }

        .image {
            padding-right: 30px;
            width: 18px;
            height: 33px;
        }

        .input {
            padding-left: 30px;
            display: flex;
            align-items: center;
            margin-top: 15px;
            // background: #ff0000;
            border: 1px solid #000;
            height: 90px;
            border-radius: 20px;

            .width{
                flex: 1;
            }
        }

        .remind_text{
            margin-top: 20px;
            font-size: 25px;
            color: rgb(206, 204, 204);
        }
    }
}