.valuePassSon {
    padding: 25px;

    .text_title {
        font-weight: bold;
        font-size: 35px;
    }

    .text_content {
        margin-top: 10px;
        font-size: 30px;
    }

    .text_title_second {
        margin-top: 50px;
        font-weight: bold;
        font-size: 35px;
    }

    .button_margin{
        margin-top: 50px;
    }

}