.home {
    .navigation_divide {
        height: 10px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
        background: white;
        position: sticky;
        top: 0%;
        z-index: 101;
    }
}