.robotlist {

    .item_layout {
        width: 100%;
        @include borderTopLine(#efefef, 1px);
        padding: 20px;

        .title_name {
            font-size: 24px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #222222;
        }

        .title_content {
            margin-top: 10px;
            font-size: 24px;
            font-family: PingFang SC-Medium, PingFang SC;
            font-weight: 500;
            color: #B9B7B7;
        }

        .setting_layout {
            display: flex;
            align-items: center;

            .setting_image {
                width: 24px;
                height: 24px;
            }

            .text_select {
                margin-left: 10px;
                font-size: 26px;
                font-family: PingFang SC-Medium, PingFang SC;
                font-weight: 500;
                color: #B9B7B7;
            }

            .text_selected {
                margin-left: 10px;
                font-size: 26px;
                font-family: PingFang SC-Medium, PingFang SC;
                font-weight: 500;
                color: #FB605F;
            }

        }

    }

}